services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: Njh3611.
      MYSQL_DATABASE: eum
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mysql_data:
